<table
  mat-table
  [dataSource]="courseLists"
  multiTemplateDataRows
  class="mat-elevation-z8"
>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="userName">
    <th mat-header-cell *matHeaderCellDef>Username</th>
    <td mat-cell *matCellDef="let element">{{ element.userName }}</td>
  </ng-container>

  <ng-container matColumnDef="lastEditedTime">
    <th mat-header-cell *matHeaderCellDef>Last Edited time</th>
    <td mat-cell *matCellDef="let element">{{ element.lastEditedTime }}</td>
  </ng-container>

  <ng-container matColumnDef="coursescount">
    <th mat-header-cell *matHeaderCellDef>Course Count</th>
    <td mat-cell *matCellDef="let element">{{ element.coursesList.length }}</td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-raised-button
        color="primary"
        (click)="deleteCourseList($event, element._id)"
      >
        DELETE
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef>Edit</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-raised-button
        color="primary"
        (click)="editCourseList($event, element._id)"
      >
        EDIT
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="timetable">
    <th mat-header-cell *matHeaderCellDef>TimeTable</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-raised-button
        color="primary"
        (click)="showTimeTable(element._id)"
      >
        SHOW TIMETABLE
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td
      mat-cell
      *matCellDef="let element"
      [attr.colspan]="allColumnsToDisplay.length"
    >
      <div
        class="example-element-detail"
        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'"
      >
        <div>"ABC"</div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="allColumnsToDisplay"></tr>
  <tr
    mat-row
    *matRowDef="let element; columns: allColumnsToDisplay"
    class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['expandedDetail']"
    class="example-detail-row"
  ></tr>
</table>
