<mat-toolbar>
  <span>Create a course List</span>
</mat-toolbar>
<mat-card class="my-card">
  <mat-card-content>
    <form [formGroup]="courseListForm" class="course-list-form">
      <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input matInput id="name" type="text" formControlName="name" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Description</mat-label>
        <input
          matInput
          id="Description"
          type="text"
          formControlName="description"
        />
      </mat-form-field>
      <mat-checkbox formControlName="public">Public</mat-checkbox>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      *ngIf="editCourseList"
      mat-raised-button
      (click)="updateCourseList()"
      color="primary"
    >
      UPDARTE COURSELIST
    </button>
    <button
      *ngIf="!editCourseList"
      mat-raised-button
      (click)="createCourseList()"
      color="primary"
    >
      CREATE COURSELIST
    </button>
  </mat-card-actions>

  <table mat-table [dataSource]="coursesList" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Catalog Number Column -->
    <ng-container matColumnDef="catalog_nbr">
      <th mat-header-cell *matHeaderCellDef>Catalog Number</th>
      <td mat-cell *matCellDef="let element">{{ element.catalog_nbr }}</td>
    </ng-container>

    <!-- Subject Column -->
    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef>Subject</th>
      <td mat-cell *matCellDef="let element">{{ element.subject }}</td>
    </ng-container>

    <ng-container matColumnDef="selectedcheckbox">
      <th mat-header-cell *matHeaderCellDef>Selected</th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox
          #courseselect
          class="example-margin"
          (click)="checkBoxClickHandler($event, element)"
          >Select</mat-checkbox
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef>Year</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field appearance="fill"
          ><mat-label>Year</mat-label>
          <mat-select>
            <mat-option value="1">Year 1</mat-option>
            <mat-option value="2">Year 2</mat-option>
            <mat-option value="3">Year 3</mat-option>
            <mat-option value="4">Year 4</mat-option>
            <mat-option value="5">Year 5</mat-option>
            <mat-option value="6">Year 6</mat-option>
          </mat-select></mat-form-field
        >
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-card>
