<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a mat-button routerLink="/">Home</a>
    <a mat-button routerLink="/searchcourses">Search Courses</a>
    <a mat-button routerLink="/courselists">Course List</a>
    <a mat-button routerLink="/createcourselist">Create Course List</a>
    <a mat-button routerLink="/courses">Courses</a>
    <span class="menu-spacer"></span>
    <a mat-button *ngIf="isAdmin" routerLink="/managereviews">Manage Reviews</a>
    <a mat-button *ngIf="isAdmin" routerLink="/accounts">Manage Accounts</a>
    <a mat-button *ngIf="!isLoggedIn" routerLink="/register">Register</a>
    <a mat-button *ngIf="isLoggedIn" (click)="logOut()">Log Out</a>
    <a mat-button *ngIf="!isLoggedIn" routerLink="/login">Login</a>
    <a mat-button *ngIf="isAdmin">SM</a>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
