.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

table {
  width: 80%;
  margin: auto;
}

tr.detail-row {
  height: 0;
}

.element-detail {
  overflow: hidden;
}

.element-description {
  padding: 16px;
}

.element-description-attribution {
  opacity: 0.5;
}

.review-comment {
  border: 1px solid black;
  border-radius: 2px;
  width: 100%;
  margin: 16px auto;
}
